html {
    overflow-y: auto;
    font-family: "Assistant";
}

.v-main {
    width: calc((100vw - 250px) - 24px);
    margin-top: 50px;
    margin-left: 250px;
}

.container {
    width: 100%;
    margin-left: 12px;
}

.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.appbar-toggle {
    display: none;
}

@media (max-width: 670px) {
    .sidebar-container {
        display: none;
    }

    .v-main {
        width: calc(100vw - 24px);
        margin-left: 0;
    }

    .appbar-toggle {
        display: inline;
    }
}

.v-stepper__wrapper {
    padding-left: 3px;
    padding-right: 3px;
}

.card-container {
    margin-left: 0;
}
