html {
    overflow-y: auto;
}

.main-container {
    margin-top: 50px;
    margin-left: 250px;
}

.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.appbar-toggle {
    display: none;
}

@media (max-width: 670px) {
    .sidebar-container {
        display: none;
    }

    .main-container {
        margin-left: 0;
    }

    .appbar-toggle {
        display: inline;
    }
}
